<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /iitd/react-dashboard/

    RewriteRule ^index\.html$ - [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /iitd/react-dashboard/index.html [L]
</IfModule>